{{ define "AnalysisRequest.html" }}
<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title>Заявка – ColorLex</title>
<link rel="stylesheet" href="/static/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<header class="site-header">
  <a class="logo" href="/pigments">
    <img src="{{.MinioBase}}/Logo.png" alt="ColorLex">
  </a>
</header>
<div class="page-bar">Заявка</div>

<main class="container">
  <h2 class="Articles">Спектроскопический анализ цвета</h2>
  <p>Введите наблюдаемый спектр отражения в формате: Длина волны (нм), Отражательная способность (%);</p>
  <textarea id="spectrum"
            name="spectrum"
            placeholder="Например: 255,54"
            rows="4"
            cols="50">{{.Request.Spectrum}}</textarea>

  <h3 class="pigments-title">Пигменты для расчета:</h3>
  <section class="app-services">
    {{range .Pigments}}
      <div class="app-card">
        <img src="{{$.MinioBase}}/{{.ImageKey}}" alt="{{.Name}}">
        <div class="info">
          <strong>{{.Name}}</strong>
        </div>
        <input type="text"
           class="comment"
           placeholder="Введите комментарий"
           value="{{index $.Request.Comments .ID}}">

        <div class="percent">
          {{with index $.Request.Percent .ID}}{{.}}%{{else}}0%{{end}}
        </div>
      </div>
    {{end}}
  </section>
</main>

<footer class="site-footer">
  <p>Идея ColourLex основана на взаимосвязи науки и искусства. Чтобы оценить произведение искусства во всей его полноте, необходимо понимать технику художника и знать материалы, использованные при его создании.</p>
</footer>
</body>
</html>
{{ end }}
