{{ define "Pigment.html" }}
<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title>{{.Pigment.Name}} – ColorLex</title>
<link rel="stylesheet" href="/static/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<header class="site-header">
  <a class="logo" href="/pigments">
    <img src="{{.MinioBase}}/Logo.png" alt="ColorLex">
  </a>
</header>
<div class="page-bar">{{.Pigment.Name}}</div>

<main class="container">
  <div class="pigment-box">
    <h1 class="center title">Композиция и свойства: {{.Pigment.Name}}</h1>

    <h2 class="left title">Описание:</h2>
    <p class="left">{{.Pigment.Description}}</p>

    <h2 class="left title">Цвет:</h2>
    <p class="left">{{.Pigment.Color}}</p>

    <div class="img-center">
        <img src="{{printf "%s/%s" .MinioBase .Pigment.ImageKey}}" alt="{{.Pigment.Name}}">
    </div>

    <h2 class="left title">Спектральная характеристика:</h2>
    <p class="left">{{.Pigment.Specs}}</p>

    <h2 class="center title">Характеристика в таблице</h2>
    <table class="center-table">
        <tr><th>Параметр</th><th>Значение</th></tr>
        <tr><td>—</td><td>—</td></tr>
    </table>
</div>
</main>

<footer class="site-footer">
  <p>Идея ColourLex основана на взаимосвязи науки и искусства. Чтобы оценить произведение искусства во всей его полноте, необходимо понимать технику художника и знать материалы, использованные при его создании.</p>
</footer>
</body>
</html>
{{ end }}
